<html LANG='en'>
   <head>
      <meta charset='UTF-8' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <title>Tech Blog</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <div class='wrapper'>
         <header>
            <div class='new-menu'>
               <a class='nav-list' href='/'>Home</a>
               <a class='nav-list' href='/dashboard'>Dashboard</a>
               {{#unless loggedIn}}
                  <a class='nav-list' href='/login'>Login</a>
               {{/unless}}
                  <a id='logout' class='nav-list' href='/login'>Logout</a>
            </div>
            <div class='headerBox-cont'>
               {{#if loggedIn}}
                  <h4 class='headerBox'>{{headerBox}}</h4>
               {{else}}
                  <h4 class='headerBox'>The Tech Blog</h4>
               {{/if}}
            </div>
         </header>
         <main>
            {{{body}}}
         </main>
         <footer>
            Thanks for visiting!
         </footer>
      </div>
      {{#if loggedIn}}
         <script src='/javascript/logout.js'></script>
      {{/if}}
   </body>
</html>