<form class='signup-form'>
   <div>
      <label for='username-signup'>username:</label>
      <input type='text' id='username-signup' />
   </div>
   <div>
      <label for='password-signup'>password:</label>
      <input type='password' id='password-signup' />
   </div>
   <div>
      <button type='submit'>signup</button>
   </div>
</form>
<a class='.login-instead' href='/login'>Login instead</a>
<!-- It's important to keep in mind that the front-end JavaScript code will not be sent over to the client
 at the same time as the HTML content. The browser will make a new request for the JavaScript file after 
the template has rendered and it sees the linked <script> element. -->
<script src="/javascript/signup.js"></script>